{% extends 'portfolio/base.html'%} 
                                                           '%}
{% block content %}
  
{% load static %}
<section class="contact py-5 m-5">
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 pb-4 ">
		       <h1 class="text-warning display-4">Contact US</h1>
		      <p class="text-warning">
			Got questions? Will be happy to contact you directly and answer your questions. 
		     </p>
		    </div>
		</div>
		<div class="row">
		    <div class="col mb-3">
		
		     	<form class="text-white contact-form" method="post">
				<div class="form-group py-4">
        			{% csrf_token %}
        			{{form.as_p}}
        			<button class="btn btn-outline-warning btn-block p-2 font-weight-bold submit-button" type="submit">Submit</button>
        		</div>
				</form>
			</div>
		</div>
	</div>
	    
</section>
{% endblock %}