{% extends 'portfolio/base.html'%}
{% block content %}

<section class="bg-light text-center p-5">
  <div class="container-fluid">
    <div class="row text-muted text-center">
      <div class="col m-4">
       <h1 class="display-4 mb-4">We have ({{blogs.count}}) Blog{{blogs.count|pluralize}}</h1>
       <div class="underline_dark mx-auto"></div>
      </div>
    </div>
    <div class="row">
{% for blog in blogs %}

     <div class="col-lg-4">
       <div class="card card-1">
         <div class="card-body">
       <a class="text-decoration-none text-success" href="{% url 'blog:detail' blog.id %}"><h2 class="mb-5">{{blog.title}}</h2></a>
       <p class="text-black py-3">{{blog.description| striptags |truncatechars:60}}</p>
       <h7>{{blog.date|date:'M d y'}}</h7>
      </div>
     </div>
     </div>
{% endfor %}
</div>
</div>
</section>
{% endblock %}
