.nav-menu  {
   background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .5)); 
   padding: 30px;
}
.menu-item {
  font-size: 12px;  
  letter-spacing: 1px;
  color: #eee;
}
.menu-item:hover {
    color: #70aed2;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.mission{
  background: #151f20;  
}

.underline {
    width: 180px;
    border: 3px solid #eee;
}

.underline_dark {
    width: 180px;
    border: 3px solid black;
}

.sud-image {
   background-image: linear-gradient(to bottom, blue , yellow, green);
}

.contact {
    background: linear-gradient( 105deg,
     rgba(21, 31, 32,1) 0%,
     rgba(21, 31, 32, 95%) 50%, 
     transparent 50%); 
     padding-top: 4px;
}

input {
    background: transparent;
    border: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: all .8s;
}

input:focus {
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #f5593d;  
}

.footer-link {
  color: #eee;  
  font-size: 13px;
  transition: all .3s;
}

.footer-link:hover {

    color: #70aad2;
    text-decoration: none;
}

.card-1 {

    box-shadow: 7px 18px 50px #555;

}
